<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
        <string>[TARGET]</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt Creator</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleExecutable</key>
        <string>[TARGET]</string>
	<key>CFBundleIdentifier</key>
        <string>com.lb-productions.[TARGET]</string>
	<key>CFBundleVersion</key>
	<string>[VERSION]</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
