QTableWidget {
    background:transparent;
    color: white;
    border: none;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

QHeaderView {
    background: transparent;
}

QHeaderView::section {
    background: transparent;
    font-size: 40px;
    padding:2px;
    border: none;
    margin-bottom: 2px;
    height: 55px;
    color: white;
}
